[submodule "depends/contracts-vyper"]
	path = depends/contracts-vyper
	url = https://github.com/Uniswap/contracts-vyper.git
[submodule "depends/openzeppelin"]
	path = depends/openzeppelin
	url = https://github.com/OpenZeppelin/openzeppelin-solidity
