[submodule "depends/uniswap-contracts"]
	path = depends/uniswap-contracts
	url = https://github.com/Uniswap/contracts-vyper.git
[submodule "depends/vyper-contracts"]
	path = depends/vyper-contracts
	url = https://github.com/LayerXcom/verified-vyper-contracts
